
*.nupkg
nuget/package
src/.vs/EPiServer.Plugins.Editors.AceEditor/v15/.suo
src/.vs/EPiServer.Plugins.Editors.AceEditor/v15/Server/sqlite3/db.lock
src/.vs/EPiServer.Plugins.Editors.AceEditor/v15/Server/sqlite3/storage.ide
src/.vs/EPiServer.Plugins.Editors.AceEditor/v15/Server/sqlite3/storage.ide-shm
src/.vs/EPiServer.Plugins.Editors.AceEditor/v15/Server/sqlite3/storage.ide-wal
src/EPiServer.Plugins.Editors.AceEditor/bin
src/EPiServer.Plugins.Editors.AceEditor/obj
src/packages

